body{
    margin: 0px;
    
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header{
    background-image: url(./Assets/Hero-bg.png);
    height: 600px;
   
}
.primary-btn:hover{
    background-color: aqua;
    cursor: pointer;
}
.primary-btn{
    color: white;
    width: 150px;
    height: 48px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding:5px 10px;
}
.btn-color{
    background-color: #4E47FF
}
.common{
    max-width: 1140px;
    padding: 10px 170px;
    
}
.nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 10px;
     */
     margin: 0 auto;
}

.nav-logo{
    font-size: 35px;
    color: #4E47FF;
}
/* banner style */

.banner{
    width: 800px;
    margin: 150px auto;
    text-align: center;
   

}
.banner-title{
    font-size: 50px;
    font-weight: bold;
}
.title-color{
    color: #252432;
}

/* action style */
main{
    background-color: #F5F8FF;
}
.secondary-color{
    color: #0e07706b;
}
.action{
    height: 400px;
}
.action-container{
    margin: 70px auto;
    display: flex;
    height: 200px;
    justify-content: space-between;

    
}
.action-content{
    width: 400px;
    height: 150px;
    margin-top: 20px;
}
.action-btn{
    width:180px;
}
.action-pic{
    height: 100%;
    border-radius: 15px;
}

/* productive style */


.pro-title{
    text-align: center;
    padding-top: 50px;
}
.pro-content{
    background-color: #E5E7FF;
    border-radius: 15px;
    margin: 0 auto;
}
.info-title{
    font-weight: bolder;
    color: #4E47FF;
    font-size: 40px;
    margin-bottom: 0px;
    
}
.info-parent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
.pro-info{
    text-align: center;
}
.pro-para{
    margin-top: 0px;   
}
/* lets style */
.lets-title{
    width: 300px;
}

.lets-contain{
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* margin-top: 90px;
    margin-bottom: 20px; */
    margin: 70px auto;
}
.input-form{
    margin: 15px 0px;
    padding: 5px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
}
.txt-area{
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0px;
}
.lets-heading{
    font-size: 55px;
    font-weight: bolder;
}
.form-btn{
    width: 280px;
    height: 40px;
}

/* footer style */

ul li{
    list-style: none;
    display: inline;

}
ul li a{
    text-decoration: none;
    color: #0e07706b;
    margin-right: 15px;
}
.foot{
    text-align: center;
    width: 500px;
    margin: 80px auto;
}

.foot-logo{
    color: #4E47FF;
    font-size: 65px;
    font-weight: 900;
    margin-bottom: 5px;
}
/* card design */
.Review{
    margin-top: 90px;
}
.card-container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.review-title{
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    margin: 0 auto;
}

.card{
    width: 280px;
    height: 200px;
    border-radius: 10px;
    background-color: #FAFCFF;
    padding: 10px;
}

.avatar-img{
    border-radius: 50%;
}
.card-img{
    display: flex;
    align-items: center;
    gap: 15px;
}
.card-para{
    color: #0e077036;
    margin: 0px;
    padding: 0px;
}
.card-p{
    margin: 0px;
    padding: 0px;
}
.review-para{
    font-weight: normal;
}