
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.primary-btn{
    color: white;
    width: 130px;
    height: 48px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}
.btn-color{
    background-color: #4E47FF;
}
.navbar{
    max-width: 1140px;
    padding: 10px 100px;
}
.nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    font-size: 35px;
    color: #4E47FF;
}