body{
    margin: 0px;
    
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header{
    background-image: url(../Assets/Hero-bg.png);
    height: 600px;
   
}
.primary-btn{
    color: white;
    width: 150px;
    height: 48px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding:5px 10px;
}
.btn-color{
    background-color: #4E47FF
}
.common{
    max-width: 1140px;
    padding: 10px 170px;
}
.nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.nav-logo{
    font-size: 35px;
    color: #4E47FF;
}
/* banner style */

.banner{
    width: 800px;
    margin: 0px auto;
    text-align: center;
    margin-top: 150px;

}
.banner-title{
    font-size: 50px;
    font-weight: bold;
}
.title-color{
    color: #252432;
}

/* action style */
.secondary-color{
    color: #0e07706b;
}
.action{
    height: 400px;
}
.action-container{
    margin: 70px auto;
    display: flex;
    height: 200px;
    justify-content: space-between;

    
}
.action-content{
    width: 400px;
    height: 150px;
    margin-top: 20px;
}
.action-btn{
    width:180px;
}
.action-pic{
    height: 100%;
    border-radius: 15px;
}

/* productive style */


.pro-title{
    text-align: center;
    padding-top: 50px;
}
.pro-content{
    background-color: #E5E7FF;
    border-radius: 15px;
}
.info-title{
    font-weight: bolder;
    color: #4E47FF;
    font-size: 40px;
    margin-bottom: 0px;
    
}
.info-parent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pro-para{
    margin-top: 0px;
    
}